%header
  竞价结果
  .header-right
    %a.btn.btn-primary(ng-tap="go_to_price_count_page()" )统计
  .header-left
    %a.btn(ng-tap="back_to_bid_list_page()")返回
  .scrollable
    %ul.list-style-2
      %li(style="font-family:arial;color:black;line-height:40px"  ng-repeat="bid in bid_infos")
        {{$index+1}}: {{bid.name}}  ￥{{bid.price}}  {{bid.phone}}
%footer.footer
  %p(ng-show="check_is_show" align="center")竞价结果:{{winner[0].name}} ￥{{winner[0].price}} {{winner[0].phone}}

%div(ng-Switch="show_modal")
  %div(ng-Switch-when="true")
    %div(ng-class="pop_out_winner" class="modal fade in")
      .modal-header
        %h3竞价结果
        %button(ng-tap="close_this_modal()" style="float:right" )关闭
      .modal-body(style="text-align:center;")
        %div(ng-show='failure')
          %h4竞价无效
        %div(ng_show='success')
          %h4 {{winner[0].name}}  ￥{{winner[0].price}}
          %h4 {{winner[0].phone}}
          %h4竞价成功
    %div(ng-class="black_background" class="modal-backdrop fade in" )