%header
  竞价列表
  .header-right
    %a.btn.btn-primary(ng-tap="go_to_bid_sign_up_page()" ng-disabled="check_is_start")开始
  .header-left
    %a.btn(ng-tap="goto_sign_up()")返回
#wrapper.wrapper
  .scrollable
    %ul.list-style-2
      %li(style="{{bid.status|status}};line-height:40px" align="center" ng-tap="scan_bid_sign_up_information('{{bid.name}}')" ng-repeat="bid in bids|orderBy:order2") {{bid.name}}
%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a(ng-tap="goto_sign_up()" )报名
    %li
      %a竞价
