.nav-header1
  .right
    %p1
      %span 你好,
      %span
        =@user.name
    =link_to  "退出",:action => 'logout',:controller => 'sessions'
%h2 活动通
%br
%div(class='yuanjiao'style="margin:auto;width:79%;background:#c0c0c0;padding:1px")
  %h4
    用户管理
    .btn
      =link_to "添加用户",:action => "add_account"
%table(class="table table-hover" style="margin:auto; width:79%")
  %thead
    %tr
      %td 编号
      %td 用户名
      %td 操作
  %tbody
    -counter = 1
    -@users.each do |t|
      %tr
        %td(align="center" style="width:37%" valign="middle")
          = counter
          -counter=counter+1
        %td(align="center" style="width:37%" valign="middle")
          =t.name
        %td(align="center" style="width:45%" valign="middle")
          =link_to "删除",t, method: :delete, data: { confirm: "您确实要删除"+t.name+" ?" }
          =link_to '修改密码',admin_url(id:t.id)
.right-padding
  = will_paginate @users