%h2 活动通
%div(style="background:#F5F5F5" class="modal fade in")
  .nav-header
    %h4重置密码
    .right
      =link_to  "用户登录",:action => "login"
  %br
  %br
  %div(class="index-login" style="text-align:center;")
    =form_for(:user) do |f|
      .input-prepend
        = f.label :'帐   号' ,:class=>"add-on"
        = f.text_field :name ,:type=>"text",:placeholder=>"请输入帐号名"
      %br
        .label-warning
          =flash.now[:notice4]
      %br
      %div(style="text-align:center")
        = f.submit "下 一 步", :class=> "btn btn-primary"
      %br