%h2 活动通
%div(style="background:#F5F5F5" class="modal fade in")
  .nav-header
    %h4重置密码
    .right
      =link_to  "用户登录",:action => "login"
  %br
  %br
  %div(class="index-login" style="text-align:center;")
    %div(class="input-prepend" )
      %span(class="add-on" )帐 号
      %input(type="text" placeholder="请输入帐号名" )
    %br
    %br
  %div(style="text-align:center;")
    %button(class="btn btn-primary" )下 一 步
  %br