// pages
=load_page :main_page
=load_page :activity_list_page
=load_page :create_activity_page
=load_page :activity_sign_up_page
=load_page :bid_list
=load_page :bid_sign_up_page
=load_page :bid_result_page
=load_page :price_sovereinty_page