// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right{
  float:right;
}
.right-padding{
  float: right;
  padding-right:140px
}
.yuanjiao{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
